/*
*
* CSS written based on SMACSS architecture.
* To learn more, visit: http://smacss.com/
* 
* For simplicity, no reset or normalize is added. 
* To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
*
*/

/* ---- Base Rules ---- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* this defines what 1rem is */
  /* 1rem = 10px */
  font-size: 62.5%;
}

@media (max-width: 1200px) {
  html {
    /* 1rem = 9px */
    font-size: 56.25%;
  }
}

@media (max-width: 900px) {
  html {
    /* 1rem = 8px */
    font-size: 56.25%;
  }
}

@media (min-width: 1600px) {
  html {
    /* 1rem = 12px */
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  color: #f4b852;
  /* background: linear-gradient(
    0deg,
    rgba(205, 191, 252, 1) 0%,
    rgba(243, 255, 202, 1) 45%,
    rgba(206, 226, 238, 1) 100%
  ); */
  display: flex;
  flex-direction: column;
}

/* Typeography General*/
h1 {
  font-family: "Fira Sans", sans-serif;
  font-size: 8rem;
  margin-top: -4rem;
}

/* @media only screen and (min-width: 35em) {
  h1 {
    font-size: 7em;
    margin: 2em 4rem 1em;
  }
} */

h2 {
  border-bottom: 1px solid #cc1;
  font-family: "Oxygen", Sans-Serif;
  font-size: 7em;
  color: #fff;
}

/* ---- Layout Rules ---- */
.main__hero {
  height: 90vh;
  padding-top: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  /* position: relative;
  min-height: 80vh; */
  height: 60vh;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.page__header {
  display: flex;
  justify-content: space-between;
}
.navbar__menu {
  display: flex;
  align-items: center;
  width: 30%;
}

#navbar__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar__list-element {
  color: #fff;
  font-size: 2rem;
  display: inline-block;
}

.navbar__menu .menu__link {
  display: block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #000;
}

.navbar__menu .menu__link:hover {
  background: #333;
  color: #fff;
  transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
  background: #425563;
  /* position: fixed; COULD NEED CHANGE */
  /* top: 0; */
  /* width: 100%; */
  z-index: 5;
  height: 10vh;
}

/* Footer Styles */
.page__footer {
  background: #1d262c;
  padding: 3em;
  color: #fff;
}

.page__footer p {
  color: #fff;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
/* section[data-nav] {
  width: 100vw;
} */

.landing__container {
  padding: 1em;
  background: #e7e7e7;
  text-align: left;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* @media only screen and (min-width: 35em) {
  .landing__container {
    max-width: 50em;
    padding: 4em;
  }
} */

section:nth-of-type(even) .landing__container {
  background: #f6f6f6;
}

/* Background Circles */
/* Note that background circles are created with psuedo elements before and after */
/* Circles appear to be random do to use of :nth-of-type psuedo class */
section:nth-of-type(odd) .landing__container::before {
  content: "";
  background: rgba(255, 255, 255, 0.187);
  position: absolute;
  z-index: -5;
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(even) .landing__container::before {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  top: 3em;
  right: 3em;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

section:nth-of-type(3n) .landing__container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -5;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
}

/* section:nth-of-type(3n + 1) .landing__container::after {
  content: "";
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  position: absolute;
  right: 20vw;
  bottom: -5em;
  z-index: -5;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  opacity: 0;
  transition: ease 0.5s all;
} */

/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
section.your-active-class {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

section.your-active-class .landing__container::before {
  opacity: 1;
  animation: rotate 4s linear 0s infinite forwards;
}

section.your-active-class .landing__container::after {
  opacity: 1;
  animation: rotate 5s linear 0s infinite forwards reverse;
}

/* Section Active Styles Keyframe Animations */
@keyframes rotate {
  from {
    transform: rotate(0deg) translate(-1em) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-1em) rotate(-360deg);
  }
}
